// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;

  //Importa regole scss header-navbar e jumbotron
  @import 'partials/header-navbar';
  @import 'partials/jumbotron';
}

main {
  padding-top: 71px;
}
// Regole generali corpo pagina
//
//
//
//importa regole scss flat-create
@import 'partials/flat-create';
//Importa regole scss footer
@import 'partials/footer';
