
form.flat-create, form.flat-search {

  .form-control:focus:invalid {
    border-color: $danger;
    box-shadow: 0 0 3px  $danger;
  }
  .input-group-prepend{
    label{
      color: $greenbnb;
    }
  }

  .textInput{
    .input-group-prepend{
      width: 100%;

      label{
        display: block;
        width: 100%;
        height: 28px;
        text-align: center;
        margin: 0;
      }
    }

    #input-title{
      label{
        border-radius: 5px 5px 0 0;
        h6{
          // font-weight: bold;
        }
      }
      input{
        border-radius: 0;
      }
      .form-control{
        text-align: center;
        font-weight: bold;
        padding: 5px;
      }
    }
    #input-desc{
      label{
        border-radius: 0;
      }
      textarea{
        border-radius: 0 0 5px 5px;
      }
      .form-control{
        padding: 10px 15px;
      }
    }

  }

  .numInput{
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: center;
    // margin: 20px 0;

    .input-group{
      // width: 40%;
      // margin: 10px;
      //
      // .input-group-prepend , select , input {
      //   height: 30px;
      // }
      //
      .custom-select{
        text-align-last: center;
        // line-height: 15px;
      }

      .form-control{
        text-align: center;

      }

      .radius{
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }
  }
  .sec-title{
    width: 30%;
    height: 32px;

    padding-top: 5px;
    text-align: center;

    border-radius: 5px;
    background-color: $primary;
    color: white;

    h5{

    }
  }

  .addressInput{
    .add_input{
      text-align: center;
    }

  }

  .checkInput{

    .serv-list{
      display:flex;
      justify-content: space-around;
      flex-wrap: wrap;

      label{
        user-select: none;
      }
    }
  }

  #imgInput{

    margin: 200px;

    .custom-file-input{

    }

    #prevContainer{
      display: none;
      max-width: 200px;
      max-height:200px;
    }

  }


  .btnInput{

    display: flex;
    justify-content: space-between;
    align-items: center;

    a:hover {
      transform: scale(1.05);
      transition: 0.03s;
    }

    button {
      background-color:  $greenbnb;
      border-color: $greenbnb;
    }

    button:hover {
      background: #005f63;
      transition: 0.03s;
    }

    i {
      font-size: 35px;
      color: teal;

    }
  }

  @media (max-width: $sm) {
    .numInput{

      // margin: 0;

      .input-group{
        width: 90%;

      }
    }
  }


}
