.container-mail {
    margin: 30px auto;
    width: 80%;

    .row-mail {
   .mail-col {
     // border: 3px solid black;
     height: 100%;
     padding: 0;
     display: flex;
     flex-direction: column;
     border-top: 1px solid #dee2e6;

     .title-mail {
       width: 100%;
       height: 70px;
       display: flex;
       justify-content: center;
       align-content: center;
       align-items: center;
       position: relative;
       border-bottom: 2px solid $coral !important;
     }
     a {
       font-size: 35px;
       color: $coral;
       position: absolute;
       top: 50%;
       left: 2%;
       transform: translateY(-50%);
     }
     .contacts {
       width: 100%;
       height: 100vh;
       overflow-y: auto;
       border: 1px solid #dee2e6;

        ul {
          list-style: none;
          margin:0;
        }
       .mail {

         width: 100%;
         height: 120px;
         padding: 10px;
         border-bottom: 1px solid #dee2e6;
         overflow:hidden;
         text-overflow: ellipsis;


       }
       .mail.active {
         height: 120px;
         background-color: #eef1f1;
         border: 1px inset #aaa;
       }
     }
   }
   h3 {
     color:$greenbnb;

     margin-bottom: 0;
   }
   .row-messages {
     display: flex;
     justify-content: center;
     align-content: center;
     width: 100%;
     height: 70px;
     border-bottom: 2px solid $coral !important;
   }

   #mail-body p {
     font-size: 18px;
   }
   .row-text {
     display: flex;
     flex-direction: column;
     width: 100%;
     height: 100vh;
     padding: 10px;

     .messages-received {

       margin-bottom: 10px;
       span {
         font-size: 20px;
       }
     }
     .messages-date {
       align-self: flex-end;
       margin-bottom: 10px;
       span {
         font-size: 15px;
       }
     }
     h6 {
       font-weight: lighter;
       font-style: italic;
       color: $coral;
       margin: 0;
     }
   }
  }
}

.clamp-line {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: $md) {

  .mail-right-side {
    display: none !important;
  }

  .mail-col {

          .mail {
        width: 100%;
        height: 120px;
        padding: 15px;
        border-bottom: 1px solid #dee2e6;
        overflow:hidden;
        text-overflow: ellipsis;

      }
      .mail.active {
        height: 50vh !important;
        background-color: #eef1f1;
        border: 1px inset #aaa;

        .clamp-line {
          display: -webkit-box;
          -webkit-line-clamp: 100 ;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
}
