form.flat-create {

  .adrInpList{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px 0;

    .add_input{
      text-align: center;
    }

    .input-group{
      margin: 10px;
    }

    .long-address{
      width: 40%;
      height: 29px;

    }
    .short-address{
      width: 20%;
      height: 29px;
    }
  }


  .numInput{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px 0;

    .input-group{
      width: 40%;


      .custom-select{
        text-align-last: center;
      }

      .form-control{
        text-align: center;
      }
    }
  }

  .checkInput{

    ul{
      display: flex;
      list-style: none;
      justify-content: space-around;
      flex-wrap: wrap;

      li{
        min-width: 100px;
        padding: 10px;

        //rimuove la selezione del testo ai labels quando si va a cliccare sul testo per accendere la checkbox
        user-select: none;

      }
    }
  }

  .imgInput{

    #prevContainer{
      display: none;
      position: relative;
      left: 35%;
      width: 40%;
      height: auto;
    }
   }

  .btnInput{
    display: flex;
    justify-content: space-between;

    i{
      font-size: 35px;
    }
  }

  @media (max-width: $sm) {
    .numInput{

      margin: 0;

      .input-group{
        width: 90%;

      }
    }
  }
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
    h1, h2 {
      font-weight: normal;
    }

    ul {
      list-style-type: none;
      padding: 0;
      li {
        display: inline-block;
        margin: 0 10px;
      }

      a {
        color: #42b983;
      }
    }
  }


}
