form.flat-create, form.flat-search {



  .label-title {
    font-size: 16px;
    color: $maincolor;
  }

  .adrInpList{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0;

    .add_input{
      text-align: center;
    }

    .input-group{
      margin: 10px;

    }

    .long-address{
      width: 40%;


    }
    .short-address{
      width: 20%;
      height: 29px;
    }
    .algolia-places{
      width: 67%;
      #street_name{
        width: 170px;
        height: 29px !important;
      }
    }
  }


  .numInput{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0;

    .input-group{
      width: 40%;
      margin: 10px;

      .input-group-prepend , select , input {
        height: 30px;
      }

      .custom-select{
        text-align-last: center;
      }

      .form-control{
        text-align: center;
      }
      .radius{
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }
  }

  .checkInput{

    ul{
      display: flex;
      list-style: none;
      justify-content: space-around;
      flex-wrap: wrap;

      li{
        min-width: 100px;
        padding: 10px;

        //rimuove la selezione del testo ai labels quando si va a cliccare sul testo per accendere la checkbox
        user-select: none;

      }
    }
  }

  .imgInput{

    #prevContainer{
      display: none;
      position: relative;
      left: 35%;
      width: 40%;
      height: auto;
    }
   }

  .btnInput{
    display: flex;
    justify-content: space-between;

    i{
      font-size: 35px;
    }
  }

  @media (max-width: $sm) {
    .numInput{

      margin: 0;

      .input-group{
        width: 90%;

      }
    }
  }


}
