
footer {
  width: 100%;
  height: auto;
  background: purple;
  margin-top: 150px;

  li {
    list-style:none;
    margin: 10px 0;
  }
  a {
    color: #222222;
  }
  a:hover {
  text-decoration:underline;
  color:grey;
  }

  .footer-sud {
    
    li {
      display:inline-block;
      margin: 0;
    }
    a {
      margin: 0 5px;
    }
    i {
      margin: 0 5px;

    }

  }

}
