div.jumbotron {
  width: 100%;
  height: 100vh;
  margin-right: 0;
  margin-bottom: 0;
  overflow-x: hidden;
  position: relative;
  background-size: cover;
  background-position: center;
  color: $primary;

  #jumbo-navbar {

    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 10px;
    padding-left: 10%;
    color: #fff !important;

    span#jumbo-span-logo {
      font-size: 22px;
      font-weight: bold;
      margin-left: 10px;
    }

    ul {
      height: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      white-space: nowrap;

      li {
        display: inline-block;
        font-size: 16px;
        letter-spacing: 2px;
        border-radius: 20px;
        margin-left: 5px;

        transition: all 0.2s;

        &:hover {
          transform: scale(1.05);
        }
        .fa-bars:before, .fa-user:before {
          color: $coral;
          font-size: 16px;
        }
        a {
          color: #fff;
          font-weight: bold;
        }

        a.nav-link {
          margin: 0 5px;
        }
      }

      // Dropdown-item
      li.nav-item.dropdown {
        // border: 1px solid #ddd;
        // transition: all 0.3s;
        // position: relative;

        &:hover {
          transform: scale(1.05);
        }

        i {
          font-size: 10px;
          color: $maincolor;
          margin-left: 3px;
        }

        div.dropdown-menu {
          position: absolute;
          left: auto;
          right: 0;
          font-size: 12px;
          box-shadow: 2px 2px 5px #ddd;

          a {
            color: $maincolor;
          }
        }
      }
    }
  }

  #jumbo-search-bar {
    width: 100%;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 0 15px;
    font-size: 14px;
    color: #777;


    transition: all 0.3s;

    &:hover {
      // transform: scale(1.01);
      box-shadow: 2px 2px 5px #ddd;
    }

    &:focus {
      outline:none;
    }

  }

  div.container {
    height: 100%;
  }
  div.row {
    height: 100%;

    div.jumbo-left-side {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;

    }
  }
  div.text {
    text-align: center;
    background-color: #fff;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 1px 1px 7px #111;


    h1 {

      font-weight: bold;
    }
    p {
      font-size: 16px;

    }

    .btn {
      margin-top: 1rem;
      box-shadow: 1px 1px 3px $coralt;
      border-radius: 7px;
      font-size: 16px;
      transition: all 0.3s;
      border-color: $coralt;
      background-color: $coral;
      color: #fff;
      font-weight: bold;
      letter-spacing: 2px;


      &:hover {
        background-color: $coralt !important;
      }
    }
  }
}

@media (min-width: $sm) {
  div.jumbotron {
  }
}

@media (min-width: $md) {
  div.jumbotron {

  }
}

@media (min-width: $lg) {
  div.jumbotron {




    div.text {
      text-align: left;
    }
  }
}
